header {
  background-color: #fff;
  padding: 50px 0 80px 0;

  .header {
    display: flex;
    flex-direction: column;
    text-align: center;

    &_logo {
      display: flex;
      align-items: flex-end;
      padding: 0 0 20px 40px;
      border-bottom: 1px solid #d0d0d0;
    }

    &_nav {
      padding-top: 25px;

      ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

        li {
          a {
            color: #404040;
            font-size: 16.5px;
            font-family: "Roboto Light", sans-serif;
            padding: 12px;
            transition: all 0.8s ease-out;

            &:hover {
              background-color: #d45e5e;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  header {
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &_logo {
        border-color: transparent;
      }

      &_nav {
        padding-top: 0;

        ul {
          li {
            a {
              padding: 50px 12px 12px 12px;

              &:hover {
                background-color: #d45e5e;
              }
            }
          }
        }
      }
    }
  }
}
